@using System.Web.Mvc
@using System.Web.Mvc.Html;
@using NietoYostenMvc.Controllers

@helper LoginInfo(ApplicationController appController)
{
    if (null != appController.CurrentUser)
    {
        <br/>
        <p>Welcome @appController.CurrentUser !</p>
        <p><a href="~/account/logout">Logout</a></p>
    }
    else
    {
        <br/><br/>
        <a href="~/account/login">Login</a>
    }
}

@helper ArticleIntro(dynamic article)
{
    <div class="article-date">
            @string.Format("{0:D}", article.CreatedAt) <br/>
            Written by @article.Email
    </div>
    <h2>@article.Title</h2>
    @(new HtmlString(article.IntroText))
    if (!string.IsNullOrEmpty(@article.Content))
    {
        <p><a href="#">Read more...</a></p>    
    }
}

@helper ArticleFull(dynamic article)
{
    <div class="article-date">
            @string.Format("{0:D}", article.CreatedAt) <br/>
            Written by @article.Email
    </div>
    <h2>@article.Title</h2>
    @(new HtmlString(article.IntroText))
    @(new HtmlString(article.Content))
}

@helper MenuItems(ApplicationController controller)
{
    <ul class="nav navbar-nav">
        <li><a href="~/">Home</a></li>
        @if (controller.IsLoggedIn)
        {
            <li><a href="~/news">News</a></li>
            <li><a href="~/home/family">Family</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Corners <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="~/sections/papi">Papi</a></li>
                    <li><a href="~/sections/mami">Mami</a></li>
                    <li><a href="~/sections/rafa">Rafa</a></li>
                    <li><a href="~/sections/helen">Helen</a></li>
                    <li><a href="~/sections/ani">Ani</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sections <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="~/sections/reflexiones">Reflexiones</a></li>
                    <li><a href="~/sections/citas">Citas</a></li>
                    <li><a href="~/sections/chistes">Chistes</a></li>
                </ul>
            </li>
            <li><a href="#">Links</a></li>
            <li><a href="~/pictures">Pictures</a></li>
        }
        <li><a href="http://fotki.com/nietoyosten">Fotki</a></li>
    </ul>
    <form class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
}