@using NietoYostenMvc.Controllers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model NietoYostenMvc.Models.ShowArticlesViewModel

<div class="family-pic">
    <p><img src="~/Images/HomepNY.jpg" width="740px" alt="Nieto Yosten Family Picture" /></p>
</div>

@if (((ApplicationController) ViewContext.Controller).IsLoggedIn)
{
    if (@Model.TotalPages > 1)
    {
        <ul class="pagination">
            @for (int i = 1; i <= @Model.TotalPages; i++)
            {
                if (i == @Model.CurrentPage)
                {
                    <li class="active"><a href="~/sections/@Model.SectionName?Page=@i">@i</a></li>
                }
                else
                {
                    <li><a href="~/sections/@Model.SectionName?Page=@i">@i</a></li>
                }
            }
        </ul>
    }
    foreach (var article in @Model.Articles)
    {
        @Home.ArticleIntro(article)
    }
}
else
{
    <p>Bienvenidos a la pagina de la Familia Nieto Yosten! Utiliza el link de "Login" arriba para accesar el sitio.</p>
}
