@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- Menu -->
    <a href="~/Pictures">Lista de álbumes</a>
    <span> | </span>
    <a href="~/Pictures/Upload/@Model.FolderName">Agregar fotos</a>
    <span> | </span>
    <a id="lnkDelete" href="#">Borrar foto(s)</a>
    <hr/>

    <h2>@ViewBag.Title</h2>
    @if (@Model.TotalPages > 1)
    {
        <ul class="pagination">
            @for (int i = 1; i <= @Model.TotalPages; i++)
            {
                if (i == @Model.CurrentPage)
                {
                    <li class="active"><a href="~/pictures/album/@Model.FolderName?Page=@i">@i</a></li>
                }
                else
                {
                    <li><a href="~/pictures/album/@Model.FolderName?Page=@i">@i</a></li>
                }
            }
        </ul>
    }

    <!-- Thumbnails grid (4 pics per row) -->
    @if (@Model.ThumbArray.Count == 0)
    {
        <p>Este álbum está vacio.</p>
    }
    else
    {
        foreach (var row in @Model.ThumbArray)
        {
            <div class="row">
                @foreach (var picture in row)
                {
                    <div class="col-md-3">
                        <div class="thumbnail" style="text-align: center">
                            <p>
                                <a href="~/pictures/view/@picture.ID">
                                    <img src="~/azure/pictures/@picture.FolderName/@picture.FileName?Height=120"/>
                                </a>
                            </p>
                            <p><input type="checkbox" title="@picture.Title" id="@picture.ID"/>@picture.Title</p>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>

<script type="text/javascript" src="~/Scripts/ShowAlbum.js"></script>