@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- Pictures menu column -->
    <div class="col-md-2">
        <p>Pictures menu</p>
        <a href="~/Pictures/Upload/@Model.FolderName">Subir fotos</a>
    </div>
    
    <div class="col-md-10">
        <!-- Title and pagination row -->
        <div class="row">
            <h2>@ViewBag.Title</h2>
            @if (@Model.TotalPages > 1)
            {
                <ul class="pagination">
                    @for (int i = 1; i <= @Model.TotalPages; i++)
                    {
                        if (i == @Model.CurrentPage)
                        {
                            <li class="active"><a href="~/pictures/@Model.FolderName?Page=@i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="~/pictures/@Model.FolderName?Page=@i">@i</a></li>
                        }
                    }
                </ul>
            }
        </div>
        
        <!-- Thumbnails grid (4 pics per row) -->
        @foreach (var row in @Model.ThumbArray)
        {
            <div class="row">
                @foreach (var picture in row)
                {
                    <div class="col-md-3">
                        <div class="thumbnail" style="text-align: center">
                            <p>
                                <a href="~/pictures/view/@picture.ID">
                                    <img src="~/content/pictures/original/@picture.FolderName/@picture.FileName?Height=120" />
                                </a>
                            </p>
                            <p><input type="checkbox" title="@picture.Title" />@picture.Title</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>