@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- Pictures menu column -->
    <div class="col-md-2">
        <p>Pictures menu</p>
    </div>
    
    <!-- Picture thumbnails grid (4 pics per row) -->
    <div class="col-md-10">
        <!-- Title and pagination row -->
        <div class="row">
            <h2>@ViewBag.Title</h2>
            <ul class="pagination">
                @for (int i = 1; i <= @Model.TotalPages; i++)
                {
                    if (i == @Model.CurrentPage)
                    {
                        <li class="active"><a href="~/pictures/@ViewBag.Title?Page=@i">@i</a></li>
                    }
                    else
                    {
                        <li><a href="~/pictures/@ViewBag.Title?Page=@i">@i</a></li>
                    }
                }
            </ul>
        </div>
        @foreach (var row in @Model.ThumbArray)
        {
            <div class="row">
                @foreach (var picture in row)
                {
                    <div class="col-md-3">
                        <div class="thumbnail" style="text-align: center">
                            <p>
                                <a href="~/pictures/@ViewBag.Title/@picture.ID">
                                    <img src="~/content/pictures/original/@picture.FolderName/@picture.FileName?Height=120" />
                                </a>
                            </p>
                            <p><input type="checkbox" title="@picture.Title" />@picture.Title</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>